<div class="blog-post">
  <h2 class="blog-post-title"><%= article.name %></h2>
  <p class="blog-post-meta">
    <%= current_user ? "Published on #{article.published_on}" : " Published #{time_ago_in_words(article.published_on)} ago" %>
    by <%= article.user.email %>
  </p>
  <%= raw(article.content) %>
  <%= link_to "Edit", edit_article_path(article) if article.user == current_user%>
</div><!-- /.blog-post -->
<hr>
