<%= simple_form_for(@article) do |f| %>
<%= f.error_notification %>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.input :name, label: false, required: true, placeholder: "Name of the Article" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.input :content, label: false, required: true, placeholder: "Please write using html" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.input :published_on, label: false, required: true %>
    </div>
  </div>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="form-group">
    <div class="col-sm-4">
      <%= link_to "Back", :back, class: "btn btn-default" %>
      <%= f.button :submit, class: "btn btn-info" %>
    </div>
  </div>
<% end %>
